qvzenv/

# Игнорировать кэш Python
__pycache__/
*.py[cod]

# Игнорировать файлы .env и конфигурации
.env
.env.local
.env.*.local

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать IDE-специфичные файлы
.vscode/
.idea/
*.swp
*.swo

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать скомпилированные файлы
*.class
*.exe
*.dll
*.so


# Игнорировать БД
quiz_bot.db
*.db